// -----------------------------------------------------------
//  # 1 
// -----------------------------------------------------------
body {}
.container {}
header {
  a {}
  h1 {
    a {
      &:hover {}
    }
  }
  nav {
    li {}
    a {
      &:hover {}
      &.icon {}
      &.tasks {}
      &.messages {}
      &.settings {}
    }
    li.active a, a:active {}
    span {}
  }
}



// -----------------------------------------------------------
//  ## 2   
// -----------------------------------------------------------
body {}
.container {}
header {}
nav {
  a {}
  ul {}
  li {}
  a {
    &:hover {}
  }
  li.active a, li.active a:hover, a:active {}
  li.green a, li.green a:active {}
  li.red a, li.red a:active {}
  li.purple a, li.purple a:active {}
  li.yellow a, li.yellow a:active {}
}






// -----------------------------------------------------------
//  ## 3
// -----------------------------------------------------------
body {}
.container {}
header {}
nav {}
.nav {
  a {}
  > li {}
  > li > a {
    &:hover {}
  }
  > li.active > a, > li > a:active, > .dropdown:hover > a {}
  a.icon {
    > span {}
    &.home > span {}
  }
  .active a.icon, a.icon:active { 
    > span {} 
  }
}
.dropdown {
  &:hover ul {}
  ul {
    &.large {}
  }
  li {
    + li {}
    a {
      &:hover {}
    }
  }
}










// -----------------------------------------------------------
//  ## 4  
// -----------------------------------------------------------
body {}
.container {}
nav {
  ul {}
  li {
    &:first-child {
      a {}
    }
    &:last-child a {}
  }
  a {
    &:hover {}
  }
  li.active a, a:active {}
  .badge {
    & {}
    &.green {}
    &.yellow {}
    &.red {}
  }
}






// -----------------------------------------------------------
//  ## 5 
// -----------------------------------------------------------
body {}
.container {
  > div {}
}
.progress {
  > span {
    > span {}
    &:before {}
  }
  $colors: green #85c440, red #db3a27, orange #f2b63c, blue #5aaadb;
  @each $pair in $colors {
    .#{nth($pair, 1)} {
      $color: nth($pair, 2);
      background: $color;
      border-color: darken($color, 5%) darken($color, 10%) darken($color, 18%);
      @include linear-gradient(top, lighten($color, 20%), lighten($color, 8%) 70%, $color);
    }
  }
}






// -----------------------------------------------------------
//  ## 6   
// -----------------------------------------------------------
body {}
.container {
  .cal {}
}
.cal {
  a {}
  caption {
    a {
      &:hover {}
    }
    .prev {}
    .next {}
  }
  th, td {
    &:first-child {}
  }
  th {}
  td {
    a {}
    a:hover, &.off a {}
    &.off a {}
    &.active a, a:active {}
    &.active:first-child a, &:first-child a:active {}
    &.active:last-child a, &:last-child a:active {}
  }
  tr:last-child { 
    td.active a, td a:active {} 
  }
}






// -----------------------------------------------------------
//  ## 7  
// -----------------------------------------------------------
body {}
.container {
  .dropdown {}
}
.dropdown {
  a {}
  > a {
    &:before {}
    &:hover {}
    &:active {}
  }
  div {
    &:hover {
      ul {}
    }
  }
  ul {
    li {
      &:last-child a {}
    }
    a {
      &:hover {}
    }
  }
}








// -----------------------------------------------------------
//  ## 8   
// -----------------------------------------------------------
body {}
.container {}
.login {
  &:before {}
  h1 {}
  p {}
  p:first-child {}
  input[type=text], input[type=password] {}
  p.remember_me {
    label {}
    input {}
  }
  p.submit {}
}
.login-help {
  a {
    &:hover {}
  }
}
:-moz-placeholder {}
::-webkit-input-placeholder {}
input {}
input[type=text], input[type=password] {
  &:focus {}
}
input[type=submit] {
  &:active {}
}
.lt-ie9 {
  input[type=text], input[type=password] {}
}






// -----------------------------------------------------------
//  ## 9   
// -----------------------------------------------------------
body {}
.container {
  .button {}
}
.button {
  &:hover, &:active {}
  &:active, &.green:active, &.blue:active, &.yellow:active, &.red:active, &.purple:active, &.grey:active, &.black:active {}
  &.green {
    &:hover, &:active {}
  }
  &.blue {
    &:hover, &:active {}
  }
  &.yellow {
    &:hover, &:active {}
  }
  &.red {
    &:hover, &:active {}
  }
  &.purple {
    &:hover, &:active {}
  }
  &.grey {
    &:hover, &:active {}
  }
  &.black {
    &:hover, &:active {}
  }
}
.lt-ie9 .button {}







// -----------------------------------------------------------
//  ## 10   
// -----------------------------------------------------------
body {}
.container {}
input {}
.search {
  input {
    &:focus {
      + .search-ac {}
    }
  }
}
.search-ac {
  &:hover {}
  li {
    &:first-child {
      &:before, &:after {}
      &:before {}
      &:after {}
      &:hover { 
        &:before, &:after {} 
      }
    }
    &:last-child {}
  }
  a {
    span {}
    &:before {}
    &:hover {}
  }
}
:-moz-placeholder {}
::-webkit-input-placeholder {}
::-webkit-search-decoration,
::-webkit-search-cancel-button {}
.lt-ie9 .search input {}










// -----------------------------------------------------------
//  ## 11   
// -----------------------------------------------------------
body {}
.container {
  .popover {}
}
.popover {
  &:before, &:after, ul:before {}
  &:before {}
  &:after {}
  ul:before {}
  ul {}
  li {
    + li {}
    &:first-child a {}
    &:last-child a {}
  }
  a {
    &:hover {}
    &:before, &:after {}
  }
  a:before, .active a:active:before {}
  a:after, .active a:active:after {}
  .active a:before, a:active:before {}
  .active a:after, a:active:after {}
}









// -----------------------------------------------------------
//  ## 12  
// -----------------------------------------------------------
body {}
.container {}
.tags {
  li {
    &:active {}
    &:after {}
  }
  a, span {}
  a {
    &:hover span {}
  }
  span {}
}

@each $pair in $tagsColors {
  .#{nth($pair, 1)} {
    $color: nth($pair, 2);
    li:after {
      background: $color;
      @include box-shadow(inset 1px 0 darken($color, 20%));
    }
    span {
      background: $color;
      border-color: darken($color, 8%) darken($color, 10%) darken($color, 12%);
      @include linear-gradient(top, lighten($color, 5%), darken($color, 5%));
    }
  }
}






// -----------------------------------------------------------
//  ## 13   
// -----------------------------------------------------------
html, body { min-height: 100%; }
body {}
.container {
  .user {}
}
.user {
  img {}
  h5 {
    small {}
  }
  &:hover ul {}
  ul {}
  ul:before, ul:after, li:first-child:after {} // Arrow 
  ul:before {}    // Arrow border
  li:first-child:after {} // Arrow inner shadow
  ul:after {}     // Arrow background
  li {
    &.sep {}
    a {
      &:hover {
        &:after {}
      }
      &:after {}
    }
  }
}







// -----------------------------------------------------------
//  ## 14   
// -----------------------------------------------------------
body {}
.container {
  .todo {}
}
.todo {
  &:before, &:after {}
  &:after {}
  &:before {}
  .lt-ie9 & {
    &:before, &:after {}
  }
}
.todo-list {
  &:before {}
  li {}
  .toggle {
    &:before {}
    &:hover:before {}
  }
  .done .toggle:before, .toggle:active:before {}
}
.todo-controls {
  li {}
  li + li {}
  .right {}
  a {
    &:hover {}
  }
}
.todo-pagination {
  li { }
  .next {}
  .next i {}
  a, span {}
  a {
    &:hover {}
  }
  span {}
}
$icons: ('check', 0 0),
        ('add', -12px 0),
        ('delete', -24px 0),
        ('settings', -36px 0),
        ('previous', -48px 0),
        ('next', -60px 0);
[class^="icon-"], [class*=" icon-"] {}
@each $pair in $icons {
  .icon-#{nth($pair, 1)} { background-position: nth($pair, 2); }
}







// -----------------------------------------------------------
//  ## 15   
// -----------------------------------------------------------
body {}
.container {
}
.column {
  .button + .button {}
}
@media screen and (max-width: 800px) {
  .column {}
}
@media screen and (max-width: 400px) {
  .column {}
}
.button {
  &:before, &:after {}
  &:before {
  }
  &:after {
  }
}
.button.alt {
  &:before {}
}


@each $pair in $colors {
  $color: nth($pair, 2);

  .column.#{nth($pair, 1)} {
    background: lighten(desaturate(adjust-hue($color, 3deg), 8%), 2%);
  }

  .button.#{nth($pair, 1)} {
    background: $color;
    border-color: darken($color, 13%) darken($color, 14%) darken($color, 20%);
    @include linear-gradient(top,
                             lighten(adjust-hue($color, 3deg), 8%),
                             lighten(adjust-hue($color, 5deg), 5%) 50%,
                             $color 50%,
                             darken(saturate(adjust-hue($color, -4deg), 8%), 8%));

    &:before {
      background: lighten(saturate($color, 5%), 10%);
      @include linear-gradient(top,
                               darken(saturate($color, 3%), 7%),
                               lighten(saturate($color, 8%), 14%));
    }

    &:active {
      background: lighten(adjust-hue($color, 2deg), 5%);
      @include linear-gradient(top,
                               darken(saturate(adjust-hue($color, -5deg), 8%), 10%),
                               lighten(adjust-hue($color, 2deg), 3%) 60%,
                               lighten(adjust-hue($color, 2deg), 5%));

      &:after { border-color: lighten(adjust-hue($color, 2deg), 5%); }
    }
  }
}

.lt-ie9 .button:before { display: none; }






// -----------------------------------------------------------
//  ## 16   
// -----------------------------------------------------------
body {}
a {
  &:hover {}
}
.container {}
.app {}
.side {
  a {}
  i {}
  .add {
    &:hover {}
  }
}
.tabs {
  a {
    &:hover {}
  }
  li:first-child a {}
  .active a, a:active {
    i {}
  }
  &:active .active a:not(:active) {
    i {}
  }
}
.main {}
.item {
  &:first-child {}
  &:last-child {}
  footer {}
  time {}
  .avatar {
    &:before {}
    img {}
  }
  &:hover {}
  &:active, &.selected {}
}
.lt-ie8 {
  .side a {}
  .main {}
}

$icons: ('twitter', 0 0),
        ('rss', -20px 0),
        ('facebook', -40px 0),
        ('dribbble', -60px 0),
        ('plus', -80px 0);

[class*="icon-"] {}
@each $pair in $icons {
  .icon-#{nth($pair, 1)} { background-position: nth($pair, 2); }
}







// -----------------------------------------------------------
//  ## 17   
// -----------------------------------------------------------
html, body {}
body {}
.container {}
.widget {
  &:before {}
  ul {
    &::before {}
  }
  li {}
  a {
    &:hover {}
  }
  .active a, a:active {}
}






// -----------------------------------------------------------
//  ## 18  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 19  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 20  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 21  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 22  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 23 
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 24  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 25  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 26  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 27  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 28  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 29  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 30  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 31  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 32  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 33  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 34  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 35  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 36  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 37  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 38  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 39  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 40  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 41  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 42  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 43  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 44  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 45  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 46  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 47  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 48  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 49  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 50  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 51  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 52  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 53  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 54  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 55  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 56  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 57  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 58  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 59  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 60  
// -----------------------------------------------------------









// -----------------------------------------------------------
//  ## 61  
// -----------------------------------------------------------







