// -----------------------------------------------------------
//  # 1 
// -----------------------------------------------------------
body {}
.container {}
header {
  a {}
  h1 {
    a {
      &:hover {}
    }
  }
  nav {
    li {}
    a {
      &:hover {}
      &.icon {}
      &.tasks {}
      &.messages {}
      &.settings {}
    }
    li.active a, a:active {}
    span {}
  }
}



// -----------------------------------------------------------
//  ## 2   
// -----------------------------------------------------------
body {}
.container {}
header {}
nav {
  a {}
  ul {}
  li {}
  a {
    &:hover {}
  }
  li.active a, li.active a:hover, a:active {}
  li.green a, li.green a:active {}
  li.red a, li.red a:active {}
  li.purple a, li.purple a:active {}
  li.yellow a, li.yellow a:active {}
}






// -----------------------------------------------------------
//  ## 3
// -----------------------------------------------------------
body {}
.container {}
header {}
nav {}
.nav {
  a {}
  > li {}
  > li > a {
    &:hover {}
  }
  > li.active > a, > li > a:active, > .dropdown:hover > a {}
  a.icon {
    > span {}
    &.home > span {}
  }
  .active a.icon, a.icon:active { 
    > span {} 
  }
}
.dropdown {
  &:hover ul {}
  ul {
    &.large {}
  }
  li {
    + li {}
    a {
      &:hover {}
    }
  }
}










// -----------------------------------------------------------
//  ## 4  
// -----------------------------------------------------------
body {}
.container {}
nav {
  ul {}
  li {
    &:first-child {
      a {}
    }
    &:last-child a {}
  }
  a {
    &:hover {}
  }
  li.active a, a:active {}
  .badge {
    & {}
    &.green {}
    &.yellow {}
    &.red {}
  }
}






// -----------------------------------------------------------
//  ## 5 
// -----------------------------------------------------------
body {}
.container {
  > div {}
}
.progress {
  > span {
    > span {}
    &:before {}
  }
  $colors: green #85c440, red #db3a27, orange #f2b63c, blue #5aaadb;
  @each $pair in $colors {
    .#{nth($pair, 1)} {
      $color: nth($pair, 2);
      background: $color;
      border-color: darken($color, 5%) darken($color, 10%) darken($color, 18%);
      @include linear-gradient(top, lighten($color, 20%), lighten($color, 8%) 70%, $color);
    }
  }
}






// -----------------------------------------------------------
//  ## 6   
// -----------------------------------------------------------
body {}
.container {
  .cal {}
}
.cal {
  a {}
  caption {
    a {
      &:hover {}
    }
    .prev {}
    .next {}
  }
  th, td {
    &:first-child {}
  }
  th {}
  td {
    a {}
    a:hover, &.off a {}
    &.off a {}
    &.active a, a:active {}
    &.active:first-child a, &:first-child a:active {}
    &.active:last-child a, &:last-child a:active {}
  }
  tr:last-child { 
    td.active a, td a:active {} 
  }
}






// -----------------------------------------------------------
//  ## 7  
// -----------------------------------------------------------
body {}
.container {
  .dropdown {}
}
.dropdown {
  a {}
  > a {
    &:before {}
    &:hover {}
    &:active {}
  }
  div {
    &:hover {
      ul {}
    }
  }
  ul {
    li {
      &:last-child a {}
    }
    a {
      &:hover {}
    }
  }
}








// -----------------------------------------------------------
//  ## 8   
// -----------------------------------------------------------
body {}
.container {}
.login {
  &:before {}
  h1 {}
  p {}
  p:first-child {}
  input[type=text], input[type=password] {}
  p.remember_me {
    label {}
    input {}
  }
  p.submit {}
}
.login-help {
  a {
    &:hover {}
  }
}
:-moz-placeholder {}
::-webkit-input-placeholder {}
input {}
input[type=text], input[type=password] {
  &:focus {}
}
input[type=submit] {
  &:active {}
}
.lt-ie9 {
  input[type=text], input[type=password] {}
}






// -----------------------------------------------------------
//  ## 9   
// -----------------------------------------------------------
body {}
.container {
  .button {}
}
.button {
  &:hover, &:active {}
  &:active, &.green:active, &.blue:active, &.yellow:active, &.red:active, &.purple:active, &.grey:active, &.black:active {}
  &.green {
    &:hover, &:active {}
  }
  &.blue {
    &:hover, &:active {}
  }
  &.yellow {
    &:hover, &:active {}
  }
  &.red {
    &:hover, &:active {}
  }
  &.purple {
    &:hover, &:active {}
  }
  &.grey {
    &:hover, &:active {}
  }
  &.black {
    &:hover, &:active {}
  }
}
.lt-ie9 .button {}







// -----------------------------------------------------------
//  ## 10   
// -----------------------------------------------------------
body {}
.container {}
input {}
.search {
  input {
    &:focus {
      + .search-ac {}
    }
  }
}
.search-ac {
  &:hover {}
  li {
    &:first-child {
      &:before, &:after {}
      &:before {}
      &:after {}
      &:hover { 
        &:before, &:after {} 
      }
    }
    &:last-child {}
  }
  a {
    span {}
    &:before {}
    &:hover {}
  }
}
:-moz-placeholder {}
::-webkit-input-placeholder {}
::-webkit-search-decoration,
::-webkit-search-cancel-button {}
.lt-ie9 .search input {}










// -----------------------------------------------------------
//  ## 11   
// -----------------------------------------------------------
body {}
.container {
  .popover {}
}
.popover {
  &:before, &:after, ul:before {}
  &:before {}
  &:after {}
  ul:before {}
  ul {}
  li {
    + li {}
    &:first-child a {}
    &:last-child a {}
  }
  a {
    &:hover {}
    &:before, &:after {}
  }
  a:before, .active a:active:before {}
  a:after, .active a:active:after {}
  .active a:before, a:active:before {}
  .active a:after, a:active:after {}
}









// -----------------------------------------------------------
//  ## 12  
// -----------------------------------------------------------
body {}
.container {}
.tags {
  li {
    &:active {}
    &:after {}
  }
  a, span {}
  a {
    &:hover span {}
  }
  span {}
}

@each $pair in $tagsColors {
  .#{nth($pair, 1)} {
    $color: nth($pair, 2);
    li:after {
      background: $color;
      @include box-shadow(inset 1px 0 darken($color, 20%));
    }
    span {
      background: $color;
      border-color: darken($color, 8%) darken($color, 10%) darken($color, 12%);
      @include linear-gradient(top, lighten($color, 5%), darken($color, 5%));
    }
  }
}






// -----------------------------------------------------------
//  ## 13   
// -----------------------------------------------------------
html, body { min-height: 100%; }
body {}
.container {
  .user {}
}
.user {
  img {}
  h5 {
    small {}
  }
  &:hover ul {}
  ul {}
  ul:before, ul:after, li:first-child:after {} // Arrow 
  ul:before {}    // Arrow border
  li:first-child:after {} // Arrow inner shadow
  ul:after {}     // Arrow background
  li {
    &.sep {}
    a {
      &:hover {
        &:after {}
      }
      &:after {}
    }
  }
}







// -----------------------------------------------------------
//  ## 14   
// -----------------------------------------------------------
body {}
.container {
  .todo {}
}
.todo {
  &:before, &:after {}
  &:after {}
  &:before {}
  .lt-ie9 & {
    &:before, &:after {}
  }
}
.todo-list {
  &:before {}
  li {}
  .toggle {
    &:before {}
    &:hover:before {}
  }
  .done .toggle:before, .toggle:active:before {}
}
.todo-controls {
  li {}
  li + li {}
  .right {}
  a {
    &:hover {}
  }
}
.todo-pagination {
  li { }
  .next {}
  .next i {}
  a, span {}
  a {
    &:hover {}
  }
  span {}
}
$icons: ('check', 0 0),
        ('add', -12px 0),
        ('delete', -24px 0),
        ('settings', -36px 0),
        ('previous', -48px 0),
        ('next', -60px 0);
[class^="icon-"], [class*=" icon-"] {}
@each $pair in $icons {
  .icon-#{nth($pair, 1)} { background-position: nth($pair, 2); }
}







// -----------------------------------------------------------
//  ## 15   
// -----------------------------------------------------------
body {}
.container {
}
.column {
  .button + .button {}
}
@media screen and (max-width: 800px) {
  .column {}
}
@media screen and (max-width: 400px) {
  .column {}
}
.button {
  &:before, &:after {}
  &:before {
  }
  &:after {
  }
}
.button.alt {
  &:before {}
}


@each $pair in $colors {
  $color: nth($pair, 2);

  .column.#{nth($pair, 1)} {
    background: lighten(desaturate(adjust-hue($color, 3deg), 8%), 2%);
  }

  .button.#{nth($pair, 1)} {
    background: $color;
    border-color: darken($color, 13%) darken($color, 14%) darken($color, 20%);
    @include linear-gradient(top,
                             lighten(adjust-hue($color, 3deg), 8%),
                             lighten(adjust-hue($color, 5deg), 5%) 50%,
                             $color 50%,
                             darken(saturate(adjust-hue($color, -4deg), 8%), 8%));

    &:before {
      background: lighten(saturate($color, 5%), 10%);
      @include linear-gradient(top,
                               darken(saturate($color, 3%), 7%),
                               lighten(saturate($color, 8%), 14%));
    }

    &:active {
      background: lighten(adjust-hue($color, 2deg), 5%);
      @include linear-gradient(top,
                               darken(saturate(adjust-hue($color, -5deg), 8%), 10%),
                               lighten(adjust-hue($color, 2deg), 3%) 60%,
                               lighten(adjust-hue($color, 2deg), 5%));

      &:after { border-color: lighten(adjust-hue($color, 2deg), 5%); }
    }
  }
}

.lt-ie9 .button:before { display: none; }






// -----------------------------------------------------------
//  ## 16   
// -----------------------------------------------------------
body {}
a {
  &:hover {}
}
.container {}
.app {}
.side {
  a {}
  i {}
  .add {
    &:hover {}
  }
}
.tabs {
  a {
    &:hover {}
  }
  li:first-child a {}
  .active a, a:active {
    i {}
  }
  &:active .active a:not(:active) {
    i {}
  }
}
.main {}
.item {
  &:first-child {}
  &:last-child {}
  footer {}
  time {}
  .avatar {
    &:before {}
    img {}
  }
  &:hover {}
  &:active, &.selected {}
}
.lt-ie8 {
  .side a {}
  .main {}
}

$icons: ('twitter', 0 0),
        ('rss', -20px 0),
        ('facebook', -40px 0),
        ('dribbble', -60px 0),
        ('plus', -80px 0);

[class*="icon-"] {}
@each $pair in $icons {
  .icon-#{nth($pair, 1)} { background-position: nth($pair, 2); }
}







// -----------------------------------------------------------
//  ## 17   
// -----------------------------------------------------------
html, body {}
body {}
.container {}
.widget {
  &:before {}
  ul {
    &::before {}
  }
  li {}
  a {
    &:hover {}
  }
  .active a, a:active {}
}






// -----------------------------------------------------------
//  ## 18  
// -----------------------------------------------------------
body {}
.container {
  .vnav {}
}
.vnav {
  a {}
  li:last-child {
    .vnav-item {}
    .vnav-subnav {}
  }
}
.vnav-item {
  &:hover {}
  .active &, &:active {
    .vnav-counter {}
  }
  i {}
}
.vnav-counter {}
.vnav-subnav {
  .active & {}
  a {
    &:before {}
    &:hover {}
  }
  .vnav-counter {}
  li:last-child a {}
}

$icons: ('friends', 0 0),
        ('video', -20px 0),
        ('photo', -40px 0),
        ('podcast', -60px 0);
[class*="icon-"] {}
@each $pair in $icons {
  .icon-#{nth($pair, 1)} { background-position: nth($pair, 2); }
}









// -----------------------------------------------------------
//  ## 19  
// -----------------------------------------------------------
html, body {}
body {}
.container {}
.cal {
  &:before {}
  a {}
  tr:first-child td {}
  td:first-child {}
  tr:first-child a {}
  tr:last-child a {}
  td:first-child a {}
  td:last-child a {}
  tr:last-child td:first-child a {}
  tr:last-child td:last-child a {}
}
.cal-table {}
.cal-caption {
  a {}
  .prev {}
  .next {}
}
.cal-body {
  td {}
  a {}
  a:hover {}
}
.cal-off a {}
.cal-today a {}
.cal-selected a, .cal-body a:active {}
.cal-check a {
  &:before {}
}
.lt-ie8 {
  .cal-table {}
  .cal-body a {}
}









// -----------------------------------------------------------
//  ## 20  
// -----------------------------------------------------------
body {}
.container {}
.nav-item {}
.nav-link {
  &:hover {}
  &:active {}
}









// -----------------------------------------------------------
//  ## 21  
// -----------------------------------------------------------
body {}
.container {}
.switch {}
.switch-label {
  &:active {}
}
.switch-label-off {}
.switch-label-on {}
/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
.switch-input {
  &:checked + .switch-label {}
  &:checked + .switch-label-on ~ .switch-selection {}
}
.switch-selection {
  .switch-blue & {}
  .switch-yellow & {}
}









// -----------------------------------------------------------
//  ## 22  
// -----------------------------------------------------------
body {}
.container {
  .progress {}
}
.progress {}
.progress-bar {
  &:before, &:after {}
  &:before {}
  &:after {}
}
/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
#five:checked ~ .progress > .progress-bar,  {}
#twentyfive:checked ~ .progress > .progress-bar {}
#fifty:checked ~ .progress > .progress-bar {}
#seventyfive:checked ~ .progress > .progress-bar {} 
#onehundred:checked ~ .progress > .progress-bar {}
.radio {}
.label {
  .radio:checked + & {}
}









// -----------------------------------------------------------
//  ## 23 
// -----------------------------------------------------------
%bg {}
body {}
a {
  &:hover {}
}
.login {
  p {}
}
input, button, label {}
input[type=text], input[type=password] {
  &:focus {}
}
label {}
.forgot-password {}
.login-submit {
  &:before, &:after {}
  &:before {}
  &:after {}
}
.login-button {
  /* Must use another pseudo element for the gradient background because Webkit */
  /* clips the background incorrectly inside elements with a border-radius.     */
  &:before {}
  &:active:before {}
  &:after {}
}
::-moz-focus-inner {}
.lt-ie9 {
  input[type=text], input[type=password] {}
  .login-submit {
    &:before, &:after {}
  }
  .login-button {}
  .about {}
}









// -----------------------------------------------------------
//  ## 24  
// -----------------------------------------------------------
body {}
.container {}
.nav {
  > li,
  &:active > .active {}
  > li:hover {}
  > li.active,
  > .active:active,
  > li:active {}
  > li:active {}
  > li:first-child {}
  > li:last-child {}
  > li + li,
  &:active > .active + li,
  &:active > li + .active {}
  > .active + li,
  > .active:active + li,
  > li:active + li,
  > li:active + .active {}
  > li > a {
    &:before {}
  }
  .nav-icon {
    &:before {}
  }
}

$sprite: url('../img/icons.png');
[class*="icon-"] {}
.icon-home {}









// -----------------------------------------------------------
//  ## 25  
// -----------------------------------------------------------
body {}
.container {}
.nav {
  > li,
  &:active > .active {}
  > li:hover {}
  > li.active,
  > .active:active,
  > li:active {}
  > li:active {}
  > li:first-child {}
  > li:last-child {}
  > li + li,
  &:active > .active + li,
  &:active > li + .active {}
  > .active + li,
  > .active:active + li,
  > li:active + li,
  > li:active + .active {}
  > li > a {}
  .nav-icon {}
}

$sprite: url('../img/icons.png');
[class*="icon-"] {}
.icon-home {}









// -----------------------------------------------------------
//  ## 26  
// -----------------------------------------------------------
html, body {}
body {}
a {}
a:hover {}

$sprite: url('../img/sprite.png');
[class*="icon-"] {}
.icon-psd-40 {}
.icon-ai-24 {}
.icon-close {}
.widget {}
.widget-heading {}
.widget-title {}
.widget-close {
  &:hover {}
  &:active {}
}
.widget-toolbar {
  > li {
    > a {}
    + li {}
  }
}
.download {
  + .download {}
  &:last-child {}
}
.download-name {}
.download-icon {}
.download-info {}
.download-active {
  .download-name {}
  .download-icon {}
}
.download-progress {}
.download-progress-bar {}
.lt-ie9 {
  .widget-close {}
  .widget-close:hover {}
  .widget-toolbar {}
}









// -----------------------------------------------------------
//  ## 27  
// -----------------------------------------------------------
body {}
.window {}
.window-titlebar {}
.window-titlebar-button {
  &:before {}
}
.window-toolbar {}
.window-toolbar-button {
  &.active {}
  &:active > a {}
}
.window-body {}
.switch-container {
  & + & {}
}
.switch {}
.switch-label {}
.switch-handle {}
.switch-input {
  &:checked + .switch {
    .switch-handle {}
  }
}

$sprite: url('../img/icons.png');
[class*="icon-"] {}
.icon-cloud {}
.icon-settings {}









// -----------------------------------------------------------
//  ## 28  
// -----------------------------------------------------------
body {}
.notepaper {
  &:before, &:after {}
  &:before {}
  &:after {}
}
.quote {}
.curly-quotes {
  &:before, &:after {}
  &:before {}
  &:after {}
}
.quote-by {}
.lt-ie8 .notepaper {}









// -----------------------------------------------------------
//  ## 29  
// -----------------------------------------------------------
body {}
.side-nav {}
.side-nav-button, .side-nav:active .active {}
.side-nav-button {
  &:before, &:after {}
  &:before {}
  &:after {}
  &:hover, &.active, &.active, &.active:active {}
  &:hover {}
  &:active, &.active, &.active:active {}
  &:last-child {}
}









// -----------------------------------------------------------
//  ## 30  
// -----------------------------------------------------------
input, button { @include box-sizing(border-box); }
::-moz-focus-inner { padding: 0; border: 0 }
@font-face {
  font-family: 'UbuntuMono';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/UbuntuMono.woff) format('woff');
}

body {}
.calc {}
.calc-display {}
.calc-display-input {}
.calc-row {}
.calc-button {
  &:first-child {}
  &:active {}
}
.calc-button-gray {
  &:active {}
}
.calc-button-red {
  &:active {}
}
.calc-button-yellow {
  &:active {}
}
.calc-button-big {}
.lt-ie8 .calc-display-input {} /* border-box fix */
.lt-ie7 .calc-row {} /* first-child fix */









// -----------------------------------------------------------
//  ## 31  
// -----------------------------------------------------------
html, body {}
body {}
.notif {
  p {}
  a {}
  &:before {}
}
.notif-title {}
.notif-close {
  &:before {}
}
.notif-white {
  &:before {}
  .notif-title {}
  a {}
}









// -----------------------------------------------------------
//  ## 32  
// -----------------------------------------------------------
html, body {}
body {}
.month-picker {}
.month-picker-fieldset {
  > input {}
}
.month-picker-label, .month-picker-nav {}
input:focus + .month-picker-label, .month-picker-nav:focus {}
.month-picker-label {
  &, &:before {}
  &:before {}
  input:checked + & {
    &:before {}
  }
}
.month-picker-nav {}









// -----------------------------------------------------------
//  ## 33  
// -----------------------------------------------------------
input {}
::-moz-focus-inner {}
:-moz-placeholder {}
::-webkit-input-placeholder {}

html, body {}
body {}
.subscribe {}
.subscribe-pitch {
  > h3 {}
  > p {}
}
.subscribe-form {}
.subscribe-input {
  &:focus {}
}
.subscribe-submit {
  &:active {}
  &:before {}
}
.lt-ie9 .subscribe-input {}









// -----------------------------------------------------------
//  ## 34  
// -----------------------------------------------------------
html, body {}
body {}
.settings {}
.settings-header {
  > h2 {}
  > a {
    &:before {}
    &:active {}
  }
  .icon-close {}
}
.settings-form {
  > h3 {}
  > label {
    &:before {}
  }
  input {}
  strong {}
}
.settings-switch {
  input:checked + & {}
}
.settings-switch-handle {
  &:before, &:after {}
  &:before {}
  &:after {}
}
%icon:before {}
.icon-wifi:before {}
.icon-gps:before {}
.icon-close:before {}
.icon-prev:before {}









// -----------------------------------------------------------
//  ## 35  
// -----------------------------------------------------------
body {}
.container {}
.share-btn {
  &:active {
    .share-btn-action {
      &:after {}
    }
  }
}
.share-btn-count {
  &:before, &:after {}
  &:before {}
}
.share-btn-action {
  &:before {}
  &:after {}
}
.share-btn-tweet {
  &:before {}
  &:after {}
  + .share-btn-count {
    &:before {}
  }
}
.share-btn-like {
  &:before {}
}
.share-btn-plus {
  &:before {}
}









// -----------------------------------------------------------
//  ## 36  
// -----------------------------------------------------------
body {}
.container {
  > .dropdown {}
}
.dropdown {
  &:before, &:after {}
  &:before {}
  &:after {}
}
.dropdown-select {
  &:focus {}
  > option {}
}
/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 {
  .dropdown {}
  .dropdown-select {}
  .dropdown-select:focus {}
}
/* Dirty fix for Firefox adding padding where it shouldn't. */
@-moz-document url-prefix() { 
  .dropdown-select {} 
}
.dropdown-dark {
  &:before {}
  &:after {}
  .dropdown-select {
    &:focus {}
    > option {}
  }
}









// -----------------------------------------------------------
//  ## 37  
// -----------------------------------------------------------
body {}
.container {
  .pagination {}
}
.pagination {
  > a, > span {}
  :first-child {}
  > a {
    &:hover {}
  }
  > span, > a:active {}
  .prev, .next {}
}
.pagination-blue {
  > a {}
  > a.hover {}
}









// -----------------------------------------------------------
//  ## 38  
// -----------------------------------------------------------
html, body {}
body {}
.container {
  .button {}
}
.button {
  &:hover, &.hover {}
  &:active, &.active {}
  &:before {}
  &:after {}
}
@each $pair in $colors {
  .button-#{nth($pair, 1)} {
    &:hover, &.hover {}
    &:active, &.active {}
    &:before { }
    &:after {}
  }
}









// -----------------------------------------------------------
//  ## 39  
// -----------------------------------------------------------
body {}
.analytics {}
.analytics-title {}
.analytics-chart { float: left; }
.analytics-colchart {}
.analytics-colgroup {}
.analytics-col {}
.analytics-bar {}
.analytics-legend {
  > p {}
  span {}
}
.analytics-metrics {}
.analytics-count {}
.analytics-metric {
  > span {}
  & + & {}
}









// -----------------------------------------------------------
//  ## 40  
// -----------------------------------------------------------
body {}
.container {
  .notif {}
}
.notif {
  &:before {}
  p {}
}
.notif-title {
  &:before, &:after {}
}
.notif-notice {
  &:before {}
  .notif-title {
    &:before, &:after {}
    &:after {}
  }
}
.notif-alert {
  &:before {}
  .notif-title {
    &:before, &:after {}
    &:after {}
  }
}
.notif-warn {
  &:before {}
  .notif-title {
      &:before, &:after {}
    &:after {}
  }
}
.notif-controls {
  > a {}
}
.notif-minimize {
  &:before {}
  &:hover:before {}
}
.notif-zoom {
  &:before {}
  &:hover:before {}
}
.notif-close {
  &:before, &:after {}
  &:after {}
  &:hover:before, &:hover:after {}
}

/* IE 8 doesn't support CSS transforms; use Unicode instead. */
.lt-ie9 {
  .notif-notice {
    .notif-title:before {}
    .notif-title:after {}
  }
  .notif-alert {
    .notif-title:before {}
    .notif-title:after {}
  }
  .notif-close {
    &:before {}
    &:after {}
    &:hover:before {}
  }
}









// -----------------------------------------------------------
//  ## 41  
// -----------------------------------------------------------
/*
 * Note: I didn't use borders because WebKit extends shadows underneath them, creating
 * inconsistencies with other browsers. When the border is semi-transparent, as this
 * snippet requires, it appears darker because of the shadow underneath it.
 */

body {}
.notepad, .notepad:before, .notepad:after {}
.notepad {
  p, blockquote {}
  :last-child {}
  &:before, &:after {}
  &:before {}
}
.notepad-heading {
  > h1 {}
  &:before, &:after {}
  &:after {}
}









// -----------------------------------------------------------
//  ## 42  
// -----------------------------------------------------------
html, body {}
body {}
.container {
  .nav {}
}
.nav {}
.nav-list {
  > li {
    & + li {}
  }
}
.nav-link {
  &:hover {}
}
.nav-counter {}
@each $pair in $navCounterColors {
  .nav-counter-#{nth($pair, 1)} {
  }
}









// -----------------------------------------------------------
//  ## 43  
// -----------------------------------------------------------
::-moz-focus-inner {}
:-moz-placeholder {}
::-webkit-input-placeholder {}
:-ms-input-placeholder {}
body {}
input, textarea, select, label {}
.contact {}
.contact-inner {}
.contact:before, .contact:after, .contact-inner:before, .contact-inner:after {}
.contact:before {}        // Shadow
.contact-inner:before {}  // Border
.contact-inner:after {}   // Inner border
.contact:after {}         // Background
.contact-input {
  > input, > textarea {
    &:focus {}
    .lt-ie9 & {}
  }
  > textarea {}
}
.select {
  &:before, &:after {}
  &:before {}
  &:after {}
  > select {
    &:focus {}
  }
}
.contact-submit {
  > input {
    &:active {}
  }
}









// -----------------------------------------------------------
//  ## 44  
// -----------------------------------------------------------
html, body {}
body {}
.progress {}
.progress-val {}
.progress-bar {}
.progress-in {}









// -----------------------------------------------------------
//  ## 45  
// -----------------------------------------------------------
::-moz-focus-inner {}
:-moz-placeholder {}
::-webkit-input-placeholder {}
:-ms-input-placeholder {}

body {}
input, textarea, select, label {}
.login {
  > h1 {}
}
.login-input {
  &:focus {}
  .lt-ie9 & {}
}
.login-submit {
  &:active {}
}
.login-help {
  > a {
    &:hover {}
  }
}









// -----------------------------------------------------------
//  ## 46  
// -----------------------------------------------------------
body {}
.container {
  > .social-button {}
}
.social-button {
  &:before {
    @include hidpi {}
  }
}
.social-button-tw {
  &:before {}
  &:active {}
}
.social-button-fb {
  &:before {}
  &:active {}
}
.social-button-rss {
  &:before {}
  &:active {}
}









// -----------------------------------------------------------
//  ## 47  
// -----------------------------------------------------------
body {}
.plans {}
.plan {
  &:first-child {}
  &:last-child {}
}
.plan-title {
  &:before {}
}
.plan-price {
  > span {}
}
.plan-features {
  > li > strong {}
}
.plan-button {
  &:active {}
}
.plan-tall {
  > .plan-title {}
  > .plan-price {}
  > .plan-features {}
  > .plan-button {}
  + .plan {}
}









// -----------------------------------------------------------
//  ## 48  
// -----------------------------------------------------------
html, body {}
body {}
.container {
  > .button {}
}
.button {
  &:before {}
  &:hover {}
  &:active {
    &:before {}
  }
}

@each $pair in $buttonColors {
  .button-#{nth($pair, 1)} {
    &:hover {}
    &:active {}
  }
}









// -----------------------------------------------------------
//  ## 49  
// -----------------------------------------------------------
html, body {}
body {}
.clock {}
.clock-block {
  &:before, &:after {}
  &:before {}
}
.clock-val {
  &:before, &:after {}
  &:before {}
  &:after {}
}
.clock-unit {
  &:after {}
}









// -----------------------------------------------------------
//  ## 50  
// -----------------------------------------------------------
body {}
.datepicker {
  &:before,
  &:after {}
  &:before {}
}
.datepicker-caption {}
.datepicker-prev,
.datepicker-next {
  &:before,
  &:after {}
  &:before {}
}
.datepicker-prev {
  &:before, &:after {}
  &:before {}
  &:after {}
}
.datepicker-next {
  &:before, &:after {}
  &:before {}
  &:after {}
}
.datepicker-title {}
.datepicker-head {}
.datepicker-th {}
.datepicker-body {}
.datepicker-td {
  > a {
    &:hover {}
  }
  &.today {}
  &.off {}
  tr:last-child > & {}
}









// -----------------------------------------------------------
//  ## 51  
// -----------------------------------------------------------
body {}
.checkout {
  > p {}
  > p + p {}
}
.checkout-header {}
.checkout-title {
  &:before {}
}
.checkout-price {
  &:before {}
}
input {}
.checkout-input {
  &:focus {}
  .lt-ie9 & {}
}
.checkout-name {}
.checkout-card {}
.checkout-exp,
.checkout-cvc {}
.checkout-btn {
  &:active {}
}
:-moz-placeholder {}
::-moz-placeholder {}
::-webkit-input-placeholder {}
:-ms-input-placeholder {}
::-moz-focus-inner {}









// -----------------------------------------------------------
//  ## 52  
// -----------------------------------------------------------
body {}
.container {
  > .button { margin: 0 12px; }
}
.button {
  &:hover {}
  &:active,
  &.active {}
}
.button-check {
  &:before {}
  &:active,
  &.active {
    &:before {}
  }
}
.lt-ie9 {
  .button { line-height: 46px; }
  .button-check:before { content: none; }
  .button-check:after {}
}









// -----------------------------------------------------------
//  ## 53  
// -----------------------------------------------------------
body {}
.widget {}
.widget-tabs {}
.widget-tab,
%inactive-widget-tab {
  > .widget-tab-link {}
}
.widget-tab + .widget-tab { }
.widget-tab:last-child, // The left-most tab
%active-widget-tab {
  > .widget-tab-link {}
}
/* Deactivate the default tab when a preceding tab is activated. */
%active-widget-tab ~ .widget-tab { @extend %inactive-widget-tab; }
.widget-tab-link {}
.widget-list {
  > li + li {}
  /* The last list is activated (visible) by default. */
  &:last-of-type {}
  &:target {
    ~ .widget-list {}
    /* First list activates the first tab, second list activates the second tab, etc. */
    &:first-of-type  ~ .widget-tabs > .widget-tab:first-child  { @extend %active-widget-tab; }
    &:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) { @extend %active-widget-tab; }
    &:last-of-type   ~ .widget-tabs > .widget-tab:last-child   { @extend %active-widget-tab; }
  }
}
.widget-list-link {
  &:hover {}
  li:last-child > & {}
  > img {}
  > span {}
}









// -----------------------------------------------------------
//  ## 54  
// -----------------------------------------------------------
body {
}
.sign-up {
  &:before, &:after {}
  &:after {}
}
.sign-up-title {
  &:before {}
}
input {}
.sign-up-input {
  &:focus {}
  .lt-ie9 & {}
}
.sign-up-button {
  &:active {}
}
:-moz-placeholder {}
::-moz-placeholder {}
::-webkit-input-placeholder {}
:-ms-input-placeholder {}
::-moz-focus-inner {}









// -----------------------------------------------------------
//  ## 55  
// -----------------------------------------------------------
body {}
.cart {}
.cart-top {}
.cart-top-title {}
.cart-top-info {}
.cart-item {
  &:first-child {}
}
.cart-item-pic {
  > img {}
  &:before {}
}
.cart-item-desc {}
.cart-item-price {}
.cart-bottom {
  > .cart-button {}
}
.cart-button {
  &:hover {}
  &:active {}
}









// -----------------------------------------------------------
//  ## 56  
// -----------------------------------------------------------
body {}
.tasks {}
.tasks-header {}
.tasks-title {}
.tasks-lists {
  &:before {}
}
.tasks-list-item {
  & + & {}
}
.tasks-list-cb {}
.tasks-list-mark {
  &:before {}
  .tasks-list-cb:checked ~ & {
    &:before {}
  }
}
.tasks-list-desc {
  .tasks-list-cb:checked ~ & {}
}









// -----------------------------------------------------------
//  ## 57  
// -----------------------------------------------------------
body {}
.container {
  > .button { margin: 12px; }
}
.button {
  &:before {}
  &:hover:before { @include radial-gradient(farthest-corner, rgba(white, .18), rgba(white, .03)); }
  &:active { @include box-shadow(inset 0 1px 2px rgba(black, .2)); }
  &:active:before { content: none; }
}

$colors: green #5ca934, red  #d5452f, blue     #1097e6, orange #f4902a,
         pink  #e8367f, gray #47494f, darkblue #3b5ca0, purple #9966cb;
@each $pair in $colors {
  .button-#{nth($pair, 1)} {
    &:active {
    }
  }
}









// -----------------------------------------------------------
//  ## 58  
// -----------------------------------------------------------
body {}
.container {
  > .switch {}
}
.switch {}
.switch-input {}
.switch-label {
  &:before, &:after {}
  &:before {}
  &:after {}
  .switch-input:checked ~ & {
    &:before {}
    &:after {}
  }
}
.switch-handle {
  &:before {}
  .switch-input:checked ~ & {}
}
.switch-green > .switch-input:checked ~ .switch-label {}









// -----------------------------------------------------------
//  ## 59  
// -----------------------------------------------------------
body {}
.plans {}
.plan {}
.plan-title {}
.plan-price {}
.plan-unit {}
.plan-features {}
.plan-feature {& + & {}
}
.plan-feature-unit {}
.plan-feature-name {}
.plan-button {
  &:active {}
}
.plan-highlight {
  .plan-button {}
}
.plan-recommended {}









// -----------------------------------------------------------
//  ## 60  
// -----------------------------------------------------------
body {}
.register-title {}
.register {}
input {}
.register-input {
  &:focus {}
}
.register-button {
  &:active {}
  &:focus {}
}
.register-switch {}
.register-switch-input {}
.register-switch-label {
  .register-switch-input:checked + & {}
}
:-moz-placeholder {}
::-moz-placeholder {}
::-webkit-input-placeholder {}
:-ms-input-placeholder {}
::-moz-focus-inner {}









// -----------------------------------------------------------
//  ## 61  
// -----------------------------------------------------------
html, body {}
body {}
.container {}
.button {
  &:first-child {}
  &:last-child {}
  &:only-child {}
  & + & {}
  &:active {}
}
.button-blue {
  &:active {}
}







